# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Кирилл\AppData\Roaming\JetBrains\DataGrip2021.1\projects\mail.ru_technopark_postrgeSql\.idea/dataSources/
/dataSources.local.xml
